.footer {
    display: flex;
    margin-top: 3rem;
    
    justify-content: center;
    
    height: 3rem;
    color: beige;
    text-align: center;
    line-height: 1.3;
    align-items: center;
    padding: 2rem;
    background-color: rgb(106, 108, 111);
    
}

.footer__texto{
    margin:  0 2rem;
    color:rgb(94, 18, 37) ;
    font-family: 'Roboto Mono';
    font-size: 1.2rem;
    
}
.footer__texto strong {
    font-weight: bold;
}

.footer__icono{
    font-size: 3rem;
    cursor: pointer;
    color:rgb(94, 18, 37) ;
}

.footer__icono:hover {
    color:rgb(70, 71, 73) ;
}

@media only screen and (max-width: 600px) {

    .footer__texto {
        font-size: 1rem;
    }

    .footer__texto span {
        display: none;
    }

    .footer__icono{
        font-size: 2.2rem;
        

    }
    
}